# Station key
STATION_NAME="grafikstation01"

# WireGuard/private IP or hostname
STATION_HOST="10.77.0.2"
STATION_USER="root"
STATION_SSH_KEY="/root/.ssh/makler_grafikstation_ed25519"

# Remote working directory on GPU station
STATION_BASE="/home/makler_storage"
